<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script language ="JavaScript">
        function checkform()
            {
                FirstName = document.formregister.txt_fname.value;
                if(FirstName.length == "")
                {
                    alert("กรอกชื่อ");
                    return false;
                }
                LastName = document.formregister.txt_lname.value;
                if(LastName.length == "")
                {
                    alert("กรอกนามสกุล");
                    return false;
                }
                Email = document.formregister.txt_email.value;
                if(Email.length == "")
                {
                    alert("กรุณากรอก E-mail");
                    return false;
                }
                var user = "vanaporn";
                UserName = document.formregister.txt_user.value;
                if(UserName.length == "")
                {
                    alert("กรอก Username");
                    return false;
                }
                if(UserName.length == user.length)
                {
                    alert("This have username in database.");
                    return false;
                }
                PassWord = document.formregister.txt_pwd.value;
                if(PassWord.length < 8
                {
                    alert("กรอกรหัสผ่านอย่างน้อย 8 ตัว.");
                    return false;
                }
            }
    </script>



</head>
<body>
 <form name="formregister" method="post" action="/" onsubmit="return checkform()">
     REGISTER <br/>
                NAME :
                 <input type="text" name="txt_fname" ><br/>

                LASTNAME :
                <input type="text" name="txt_lname" ><br/>

                E-MAIL :
                <input type="text" name="txt_email" size="30"><br/>

                USERNAME :
                <input type="text" name="txt_user" ><br/>

                PASSWORD :
                 <input type="password" name="txt_pwd" ><br/>

                <input type="submit"  name="btn_SigeUp" value="Sign Up">


    </form>
</body>
</html>